<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite=Automation Suite">
  <test name="Test Cases">
    <classes>
      <class name="com.Testcases.Ragister"/>
      <class name="com.Testcases.Login"/>
        <class name="com.Testcases.Search"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
